.WorkoutCard{
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    background-color: lightgrey;
    border-radius: 4px;
    padding: 10px;
    max-width: 400px;
    margin: auto;
    min-height: 100px;
    margin-bottom: 10px;
    font-size: 15px;
    padding: 10px;
    text-align: left;
    text-decoration: none;
}

.WorkoutCard__name{
    font-size: 15px;
    font-weight: bold;
}

.WorkoutCard__date{
    font-size: 12px;
    margin-top: 2px;
}

.WorkoutCard header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a.WorkoutCard__link{
    text-decoration: none;
    color: black;
}

