.WorkoutCard{
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    background-color: #FAFAFA;
    border-radius: 4px;
    padding: 10px;
    max-width: 400px;
    margin: 0 auto;
    min-height: 100px;
    margin-bottom: 10px;
    font-size: 15px;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
}

.WorkoutCard__name{
    font-size: 24px;
}

.WorkoutCard__date{
    font-size: 14px;
    margin-top: 2px;
}

.WorkoutCard header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a.WorkoutCard__link{
    text-decoration: none;
    color: black;
}

