.ExerciseDisplay{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-weight: 12px;
    font-weight: 500;
}

.ExerciseDisplay__headers, .ExerciseDisplay__exercise{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ExerciseDisplay__headers {
    font-size: 12px;
    opacity: 56%;
}

.ExerciseDisplay__exercise, .ExerciseDisplay__headers{
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.ExerciseDisplay__exercise {
    font-size: 13px;
}



