.ExerciseDisplay{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-weight: 12px;
}

.ExerciseDisplay__headers, .ExerciseDisplay__exercise{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ExerciseDisplay__headers {
    font-weight: bold;
    font-size: 12px;
}



