.Footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #2F80ED;
    color: white;
    margin-top: 30px;
}

.Footer a{
    color: inherit;
    text-decoration: none;
}

.Footer__MailIcon{
    margin-top: 5px;
}