.AddNew__sets-headers{
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.AddNew__sets-entry{
    margin: auto;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.AddNew__sets-entry input{
    width: 70px;
}

.AddNew__exercises-entry {
    margin-top: 20px;
}