form{
    max-width: 500px;
    margin: auto;
}

.AddNew__sets-headers{
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.AddNew__sets-entry{
    margin: auto;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.AddNew__NameInput{
    width: 376px;
    height: 56px;
    margin-top: 20px;
    font-size: 16px;
    border: 2px solid #2D9CDB;
    padding: 20px;
}

.AddNew__Divider{
    width: 375px;
    height: 1px;
    border: 1px solid rgba(0, 0, 0, .12);
    margin: 16px auto 0 auto;
}

.AddNew__Button-blue{
    width: 180px;
    height: 36px;

    border:0;
    padding: 0;
    margin: 16px 0;

    background: #2D9CDB;
    color: white;
}

.AddNew__Button-red{
    width: 180px;
    height: 36px;

    border:0;
    padding: 0;
    margin: 16px 0;

    background: #E91E63;
    color: white;
}

.AddNew__exercises-entry{
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    background-color: #FAFAFA;
    border-radius: 4px;
    padding: 10px;
    max-width: 375px;
    margin: 0 auto;
    min-height: 100px;
    margin-bottom: 10px;
    font-size: 15px;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
}

.AddNew__Submit{
    width: 90px !important;
}

.AddNew__Cancel{
    width: 90px;
}

.AddNew__Buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.AddNew_ExerciseName{
    width: 295px;
    height: 34px;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 16px;
    border: 2px solid rgb(25,25,25, .3);
    padding: 20px;
    color: black;
}

.AddNew__sets-entry input{
    width: 70px;
}

.AddNew__exercises-entry {
    margin-top: 20px;
}

.AddNew__RemoveButton:hover{
    cursor: pointer;
}

.AddNew__ExerciseHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* .AddNew__sets-list{
    display: table;
    width: 100%;
    border: 1px solid black;
}

.AddNew__sets-headers > *, .AddNew__sets-entry > *{
    display: table-row;
    border: 1px solid black;
} */

.AddNew__sets-list{
    width: 100%;
}

.AddNew__sets-list th{
    font-weight: normal;
}

.AddNew__sets-list tr{
    text-align: center;
}

.AddNew__sets-list td{
    width: 24%;
    text-align: center;
}

.AddNew__sets-entry input{
    width: 45px;
}


input[type=number] {
    -moz-appearance:textfield;
}