.ListPage{
    margin: auto;
}

.ListPage a{
    text-decoration: none;
}

.ListPage__addNew{
    display: flex;
    justify-content: center;
    align-items: center;

    background: #2D9CDB;
    color: white;
    text-decoration: none;
    width: 200px;
    height: 36px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.75px;
}

@media only screen and (min-width: 1080px){

    .ListPage__containerList{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        padding-left: 25px;
        padding-right: 25px;
        margin: auto;

        max-width: 1080px;
    }
}